DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'YourPostgresName',
        'USER': 'YourPostgresUSer',
        'PASSWORD': 'YourPostgresPassword',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}