Django==5.2.7

# Environment variables
python-dotenv>=1.0

# API
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3

# DB
dj-database-url>=2.1
psycopg2-binary>=2.9

# Serving / static files
gunicorn>=21.2
whitenoise>=6.6

# Shop / PayPal
django-paypal>=2.1

# Google OAuth + Calendar + Gemini (GenAI)
google-auth>=2.25
google-auth-oauthlib>=1.2
google-api-python-client>=2.110
google-genai>=0.3

# Media
Pillow>=10.0
