@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

/* Colors
beige: #e3d5c8
black: #0e0f0d 
white: #f0f0ed 
red: #cf403f
blue: #375bc6
orange: #eb9656 */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 1rem;
}

.about1 {
    background-color: #0e0f0d;
}

.about2 {
    border: 2px solid #0e0f0d;
}

.about-title {
    color: #fd5732;
    text-align: center;
    font-size: 10vw;
    font-weight: 700;
    font-family: Changa One, sans-serif;
    font-style: italic;
    justify-content: center;
}

.about-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-text {
    font-family: Quicksand, sans-serif;
    color:#0e0f0d;
    font-size: 2vw;
    font-weight: 500;
    margin: 1rem auto;
    max-width: 90%;
    line-height: 1.5;
    text-align: center;    
}

@media screen and (max-width: 1400px) {
    .about-container{
        grid-template-columns: 1fr;
    }

    .about-title{
        font-size: 10vh;
    }

    .about-text{
        font-size: 2vh;
    }
}