@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');

/* 
Beige: #faf4e4 
Accent-Beige: #e8e2d3
Black: #121212
Pink: #f5b8da
Accent-Pink: #e09cc3
Yellow: #ffda6f
Accent-Yellow: #cca733
Orange: #fd5732
*/

.main-calendar-div {
    height: 110%;
    margin: 4rem 3rem;
}

.calendar-title {
    font-family: Quicksand, sans-serif;
}

.loading {
    font-family: Quicksand, sans-serif;
}

.legend-div {
    margin-bottom: 15px;
}

.legend {
    font-family: Quicksand, sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.calendar-container-screen {
    background-color: white;
    padding: 2rem;
    border-radius: 24px;
    border: 2px solid #121212;
}

@media (max-width: 600px) {
    .calendar-container-screen{
        margin: 0 -20px 0 -20px;
    }
    
    .fc {
        font-size: 12px;
    }

    .fc .fc-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .fc .fc-toolbar-title {
        width: 100%;
        text-align: center;
        order: 1;
    }

    .fc .fc-toolbar-chunk:nth-child(1) {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .fc .fc-toolbar-chunk:nth-child(3) {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}