@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');

/* 
Beige: #faf4e4 
Black: #121212
Gray: #a6a39d
Pink: #f5b8da
Accent-Pink: #e09cc3
Yellow: #ffda6f
Accent-Yellow: #cca733
Orange: #fd5732
*/

.footer {
    background-color: #faf4e4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-container {
    margin: 3vh;
}

.footer-one {
    display: flex;
    flex-wrap: column wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.footer-email {
    font-family: Quicksand, sans-serif;
    font-size: 2vh;
    color: #121212;
}

.footer-number {
    font-family: Quicksand, sans-serif;
    font-size: 2vh;
    color: #121212;
}

@media screen and (max-width: 550px) {
    .footer-container {
    margin: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    }

    .footer-email {
        font-size: 3.5vw;
    }

    .footer-number {
        font-size: 3.5vw;
    }
}