@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* Colors
beige: #e3d5c8
black: #0e0f0d 
white: #f0f0ed */

.footer {
    border-top: 2px solid #0e0f0d;
    background-color: #e3d5c8;
    display: flex;
    flex-flow: row wrap;
}

/* Ensure footer spans full width and can be pushed to the bottom in a column layout */
.footer {
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-container {
    margin: 5vh;
}

.footer-email {
    font-family: Changa One, sans-serif;
}

.footer-number {
    font-family: Cormorant Garamond, serif;
    font-size: 3vh;
    color: #0e0f0d;
    margin-top: -20px;
}

.footer-sub {
    font-family: Cormorant Garamond, serif;
    font-size: 3vh;
    color: #0e0f0d;
    margin-top: -30px;
}

.footer-description {
    font-family: Cormorant Garamond, serif;
    font-size: 2vh;
    color: #0e0f0d;
}