@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

/* Colors
beige: #e3d5c8
black: #0e0f0d 
white: #f0f0ed */

body {
  background: #e3d5c8;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 10vh;
}

.slogan-container {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  flex: 1;
}

.slogan {
  font-family: Changa One, sans-serif;
  color:#0e0f0d;
  font-size: 120px;
  margin: 0 auto;
  max-width: 90%;
  line-height: 0.95;
  text-align: center;
}

.register-button {
  background-color: #0e0f0d;
  color: #f0f0ed;
  font-family: Cormorant Garamond, serif;
  font-size: 3vh;
  padding: 1vh 3vh;
  border: none;
  border-radius: 5vh;
  cursor: pointer;
  margin: 4vh;
}

.item-section {
  display: flex;
  margin: 10vh;
}

.item-container {
  margin: 20px auto;
  width: 100%;
  flex: 1;
}