@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

/* Colors
beige: #e3d5c8
black: #0e0f0d 
white: #f0f0ed 
red: #cf403f */

body {
  background-color: #e3d5c8;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.slogan-container {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  flex: 1;
  padding: 0 0 0 0;
}

.slogan {
  font-family: Changa One, sans-serif;
  color:#cf403f;
  font-size: 7rem;
  margin: 1rem auto;
  max-width: 90%;
  line-height: 0.95;
  text-align: center;
}

.register-button {
  background-color: #0e0f0d;
  font-family: Cormorant Garamond, serif;
  font-size: 1.5rem;
  padding: 10px 30px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem auto;
}

.register-button a{
  text-decoration: none;
  color: #f0f0ed;
}

.item-section {
  margin: 2rem 1rem;
  border-top: 2px dotted #0e0f0d;
  border-bottom: 2px dotted #0e0f0d;
}

.item-container {
  margin: 10rem auto;
  width: 100%;
  justify-content: space-between;
}

.featured {
  font-family: Changa One, sans-serif;
  color:#0e0f0d;
  font-size: 60px;
  margin: 0 auto;
  max-width: 90%;
  line-height: 0.95;
  text-align: center;
}

.shop {
  background-color: transparent;
  border: 2px solid #0e0f0d;
  font-family: Cormorant Garamond, serif;
  font-size: 2vh;
  padding: 1vh 3vh;
  border-radius: 5vh;
  cursor: pointer;
  align-self: flex-end;
  height: 6vh;
}

.shop a{
  text-decoration: none;
  color: #0e0f0d;
}

.item-description {
  font-family: Cormorant Garamond, serif;
  color:#0e0f0d;
  font-size: 25px;
  font-weight: 500;
  margin: 1rem auto;
  max-width: 90%;
  line-height: 1.5;
  text-align: center;
}

.feature-preview {
  display: inline-block;
  margin: 3rem 3rem 0.5rem 3rem;
}

.row-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-description {
  font-family: Cormorant Garamond, serif;
  color:#0e0f0d;
  font-size: 25px;
  font-weight: 500;
}

@media screen and (max-width: 400px) {
  .slogan {
    font-size: 4rem;
  }
}