@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');

/* 
Beige: #faf4e4 
Black: #121212
Gray: #a6a39d
Pink: #f5b8da
Accent-Pink: #e09cc3
Yellow: #ffda6f
Accent-Yellow: #cca733
Orange: #fd5732
*/

.App {
  text-align: center;
  scroll-behavior: smooth;
}

.main-content {
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

@media (max-width: 600px) {
  .main-content {
    margin-left: 0;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --fc-page-bg-color: white;
  --fc-border-color: #121212;

  --fc-button-text-color: #121212;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: #121212;
  --fc-button-hover-bg-color: #fd5732;
  --fc-button-hover-border-color: #fd5732;
  --fc-button-active-bg-color: #fd5732;
  --fc-button-active-border-color: #fd5732;

}

