html {
  margin: 0;
  padding: 0;
  background-color: #f8f0dd;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 90%;
  padding: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
}

:root {
  --bs-primary: #D14D39; /* That nice bacon red */
  --bs-body-bg: #FFB7C5; /* The soft pink background */
}

.btn-primary {
  border-radius: 50px; /* For those pill-shaped buttons in your screenshot */
  background-color: var(--bs-primary);
}