@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');

/* 
Beige: #faf4e4 
Black: #121212
Pink: #f5b8da
Accent-Pink: #e09cc3
Yellow: #ffda6f
Accent-Yellow: #cca733
Orange: #fd5732
*/

.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #faf4e4;
}
.navbar .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    font-family: Changa One, sans-serif;
    font-size: 4vh;
    font-weight: 700;
    font-style: italic;
    color: #0e0f0d;
    text-decoration: none;
    margin: 0 2vh;
    align-self: center;
}

.nav-link {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    font-size: 2vh;
    color: #0e0f0d;
    text-decoration: none;
    margin: 0 1vh 0 1vh;
    display: flex;
    align-items: center;
}

.navbar .nav {
    align-items: center;
}
.navbar .me-auto {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar > .container > .nav:last-child {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.log-link {
    font-family: Quicksand, sans-serif;
    border: 2px solid #121212;
    padding: 8px 20px;
    border-radius: 80px;
}