@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* Colors
beige: #e3d5c8
black: #0e0f0d 
white: #f0f0ed */

.navbar {
    display: flex;
    flex-flow: row wrap;
    background-color: #e3d5c8;
    border-bottom: 2px solid #0e0f0d;
    justify-items: space-around;
}

.logo-nav {
    font-family: Changa One, sans-serif;
    font-size: 4vh;
    font-weight: 700;
    font-style: italic;
    color: #0e0f0d;
    text-decoration: none;
    margin: 0 2vh;
    align-self: flex-start;
}

.nav-link {
    font-family: Cormorant Garamond, serif;
    font-weight: 500;
    font-size: 2.5vh;
    color: #0e0f0d;
    text-decoration: none;
    margin: 0 1vh 0 1vh;
}