.shop-background {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    background-color: #ce4636;
}

.header {
    font-family:  Libre Baskerville, serif;
    font-size: 8vh;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
    color: #f8f0dd;
    margin: 2vh 0 2vh 0;
}

.shop-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
    background-color: #ce4636;
    border-radius: 3vh;
}

.column {
    float: left;
    width: 33.33%;
}