@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    padding: 25px;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 2vh;
    background-color: #e45241;

    font-family: Libre Baskerville, serif;
    font-size: 3vh;
    color: #f8f0dd;
    font-style: italic;
    text-align: center;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 15px;
}

.column1 {
  float: left;
  width: 50%;
}

.column2 {
  float: left;
  width: 25%;
}

/* Popup-specific styles for screen width > 900px */
.popup-row .popup-card {
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.popup-row .image-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-row .text-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.text-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.recommendation-row {
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  
  .column1 {
    width: 100%;
  }
  
  .column2 {
    width: 50%;
  }

  .popup-row .popup-card {
    flex-direction: column;
  }

  .popup-row .image-column {
    margin-bottom: 20px;
  }

  .popup-row .text-column {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-inner {
    color: #f8f0dd;
    background-color: #9b2a1e;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: Libre Baskerville, serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.popup-inner .popup-container {
    display: grid;
    align-items: end;
}

.popup-inner::-webkit-scrollbar {
    display: none;
}

.popup-inner img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.popup-card {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    border: none !important;
    background-color: transparent !important;
}

.image-column,
.text-column {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
}
.close-button {
    background-color: #e45241;
    color: #f8f0dd;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.25s ease-out;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-button:hover {
    background-color: #c93f2f;
}

.shop-button {
  padding: 1.5vh 4vh;
  font-size: 2vh;
  font-family: Libre Baskerville, serif;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  background-color: #ce4636;
  border: none;
  border-radius: 8vh;
  cursor: pointer;
  margin: 2vh;
}